In [ ]:
#Ans1.
A database is an organized collection of data, so that it can be easily accessed and managed.You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
SQL:
    1.Databases are categorized as Relational Database Management System (RDBMS).
    2.SQL databases are vertically scalable.
    3.SQL databases display data in form of tables so it is known as table-based database.
    4.SQL databases have fixed or static or predefined schema.
    5.MySQL, Oracle, Sqlite, PostgreSQL and MS-SQL etc. are the example of SQL database.
NOSQL:
    1.NoSQL databases are categorized as Non-relational or distributed database system.
    2.NoSQL databases are horizontally scalable.
    3.NoSQL databases display data as collection of key-value pair, documents, graph databases or wide-column stores.
    4.NoSQL databases have dynamic schema.
    5.MongoDB, BigTable, Redis, RavenDB, Cassandra, Hbase, Neo4j, CouchDB etc. are the example of nosql database

In [ ]:
#Ans2.
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define the structure of a database and the objects within it. DDL statements are used to create, modify,
and delete database objects such as tables, indexes, views, and stored procedures.

The commands that comes under DDL are:
    1.Create-CREATE It is used to create a new table in the database.
Ex-
    CREATE TABLE Shop (
    Shop_no INT PRIMARY KEY,
    Shop_name VARCHAR(50),
    email VARCHAR(100)
    );
    
    2.DROP: It is used to delete both the structure and record stored in the table.
Ex-
    DROP TABLE Employee;
    
    3. ALTER-It is used to alter the structure of the database. This change could be either to modify the characteristics of an existing attribute or probably to add a new attribute.
Ex- 
    ALTER TABLE employees
    ADD COLUMN phone VARCHAR(20);
   
    4.TRUNCATE: It is used to delete all the rows from the table and free the space containing the table.
Ex-
    TRUNCATE TABLE Shop;

In [ ]:
#Ans3.
DML stands for Data Manipulation Language.The DML commands in Structured Query Language change the data present in the SQL database. 
We can easily access, store, modify, update and delete the existing records from the database using DML commands.

The four main DML commands in SQL:

1.INSERT Command
2.UPDATE Command
3.DELETE Command

1.Insert-INSERT is the  most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
Ex-   INSERT INTO employees (first_name, last_name, salary)
      VALUES ('John', 'Doe', 60000);

2.Update-UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
Ex-   UPDATE employees
      SET salary = 65000
      WHERE last_name = 'Doe';

3.Delete-DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables
Ex-   DELETE FROM employees
      WHERE last_name = 'Doe';

In [ ]:
#Ans4.
DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. 

SELECT is a DQL statement that is used to retrieve data from one or more tables in a database.
Ex-  SELECT * FROM employees;

This statement retrieves all of the data from the "employees" table in the database.

In [1]:
#Ans5.
Primary Key-
The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. 
Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely.

Foregin Key-
The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity.

SyntaxError: invalid syntax (1256014203.py, line 2)

In [ ]:
#Ans6.
To connect to a MySQL database using Python, we have need to install the mysql-connector-python module.

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

1.Cursor Method -
The cursor() method is used to create a cursor object, which is used to interact with the database

2.Excecute Method-
The execute() method is used to execute a SQL query on the database. You can execute any SQL statement, such as SELECT, INSERT, UPDATE, DELETE, etc., by passing the statement as a string argument to the execute() method.

In [ ]:
#Ans7.
The order of execution of SQL clauses in an SQL query are-

1.SELECT
2.FROM
3.JOIN (if applicable)
4.WHERE
5.GROUP BY
6.HAVING
7.ORDER BY